@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Amatic+SC:wght@400;700&family=Monda:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(66, 65, 65);
}


::-webkit-scrollbar-thumb {
    background-color: #f8744f;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fa572a;
}

* {
    margin: 0;
    padding: 0;

}

.container {
    background-color: #222;
    overflow: hidden;
}

header {
     width: 100%;
     height: 100vh;
     overflow: hidden;
     position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(3px);
    animation: zoom 1.5s;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.menu {
    width: 100%;
    float: left;
    background-color: #222;
    padding: 1.5vh 8%;   
}

.menu li {
    float: left;
    list-style: none;
    animation: moveMenu 0.8s;
}

.menu li a {
    font-family: "Monda", serif;
    font-size: 0.9em;
    color: azure;
    margin-right: 2em;
}

.menu li a:hover {
    color: #f46b45;
}

@keyframes moveMenu{
    0% {
        transform: translateY(-20em);
    }

    100% {
        transform: translateY(0);
    }
}

.header-content {
    position: absolute;
    top: 30%;
    left: 15%;
}

.header-content h1 {
    font-family: "Monda", serif;
    color: azure;
    font-size: 5.5em;
    font-weight: 200;
    margin-bottom: 0.15em;
    text-shadow: 0.4rem 0.4rem 2.5px rgba(0, 0, 0, .5);
    line-height: 3rem;
    animation: moveTextHeader 1.3s;
}

.header-content p {
    font-family: "Amatic SC", serif;
    color: azure;
    font-size: 2em;
    text-shadow: 0.4rem 0.4rem 2px rgba(0, 0, 0, .5);
    margin-bottom: 1.2em;
    margin-left: .2em;
    animation: moveTextHeader 1.4s;
}

.header-content button{
    font-family:"Monda", serif;
    color: azure;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.2rem 3rem 1.2rem;
    border-radius: 8px;
    animation: moveButtonHeader 1.2s;
}

.header-content button a {
    color: azure;
}

.header-content button:hover a{
    opacity: .9;
    color: #222;
}

@keyframes moveTextHeader {
    0% {
        transform: translateX(-20rem) rotateY(-45deg);
    }

    100% {
        transform: translateX(0) rotateY(0);
    }
}

@keyframes moveButtonHeader {
    0% {
        transform: translateY(20rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about-me { 
    background-color: #222;   
    width: 30em;
    padding: 5em;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: "Monda", serif;
    color: azure;
    overflow: hidden;
    border: #f46b45 5px solid;
    border-radius: 1em;
    margin-bottom: 5%;
}

.about-me h1 {
    font-family: "Monda", serif;
    font-size: 3em;
    color: #f46b45;
}

.about-me h3 {
    padding-bottom: 1em;
}

.about-me p {
    text-align: justify;
    font-family: "Monda", serif;
    color: azure;
}

.about-me img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    padding-bottom: 4rem;
}


.header-section {
    font-size: 2rem;
    font-family: "Monda", serif;
    color: azure;
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
}

.trajetoria-section {
    background-color: #222;
    overflow: hidden;
   
    
}

.trajetoria {
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    border: #f46b45 4px solid;
    border-radius: 20px;
    margin: 0 5em 0rem;
    padding: 5rem;

}

.card {
    width: 22rem;
    height: 32rem;
    position: relative;
    
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #222;
    border-radius: 15px;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: 15px;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.1rem black;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-info h2 {
    font-family: "Monda", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: azure;
    padding-bottom: .6rem;
}

.card-info h3 {
    font-family: "Monda", serif;
    font-weight: 800;
    color: #f8744f;
    padding-bottom: .4rem;
}

.card-info p {
    font-family: "Monda", serif;
    color: azure;
    font-weight: 400;
    width: 80%;
    padding-bottom: 1rem;

}

.card-info button {
    font-size: 1.2rem;
    font-family: "Monda", serif;
    color: azure;
    width: 8rem;
    height: 2.5rem;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 0 0.1rem 0.1rem black;
    border: none;
    border-radius: .5rem;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.card:hover .card-img-wrapper img {
    filter: blur(3px) brightness(.8);
}

.separator {
    border: azure 1px solid;
    border-radius: 5px;
    margin: 10em 2% 0;
}

.hr-header {
    border: #f46b45 1px solid;
    margin: 1rem 60rem;
    border-radius: 20px;
}
